/*external css*/
h3 {
color: rgb(15, 255, 243);
}
/* element selector*/
body{
    background-color: darkgray;
}
h4 {
    color: darkgreen;
}

/*class selector*/
/*css colour*/
.cl{
    background: linear-gradient(to left,rgb(85, 85, 243),rgb(143, 235, 143));
}
/*css shadows*/
.cl h1{
    color: honeydew;
    text-shadow: 2px 2px 5px black;
}

#circle{
    color: darkred;
    border: greens;
}
a{
  text-decoration: dotted;  
}