/*external css*/
h3 {
color: chartreuse;
}
/* element selector*/
body{
    background-color: darkgray;
}
h4 {
    color: darkgreen;
}

/*class selector*/
.cl{
    color: darkmagenta;
    font-size: 50px;
}
#circle{
    color: darkred;
    border: greens;
}
a{
  text-decoration: dotted;  
}